/node_modules
/public/hot
/public/storage
/public/css
/public/js
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
.vscode/
/public/css
/public/js
public/css/app.css
resources/sass/.sass-cache/4ca56c6d0b9a136d4cc61b908421ce30dfca683e/app.scssc
