
* {
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
}

.link .flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 30px;
}

.flex_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px 5px 5px;
}

.new_style {
    padding-bottom: 20px;
    padding-right: 20px;
    background: url(../images/icons/ic_keyboard_arrow_left.png) no-repeat;
    position: relative;
    /*bottom: 80px;*/
    /*left: 95px;*/
    z-index: 2;
}

.old_style {
    padding-bottom: 20px;
    padding-right: 20px;
    background: url(../images/icons/ic_keyboard_arrow_left.png) no-repeat;
    transform: rotateY(180deg);
    position: relative;
    /*bottom: 80px;*/
    /*left: 95px;*/
    z-index: 2;
}

.account_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop_links {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #808080;
}

.user_name {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 90px;
    text-align: right;
    padding-right: 20px;
    color: #999999;

}

@media all and (max-width: 768px) {
    .user_name {
        font-size: 12px;
    }
}

/*sidebar*/
.wiget {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 30px;
    color: #999999;
    text-align: center;
    padding-bottom: 25px;
}

.link {
    padding-top: 15px;
    margin: 0 auto;
    cursor: pointer;
    box-sizing: border-box;
}

.link a > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link a:hover {
    text-decoration: none;
}

.link a > div > div:first-child {
    width: 30px;
    height: 30px;
}

.linkss a > div > div:first-child {
    margin-right: 30px;
}

.linkss {
    padding-top: 15px;
    padding-bottom: 15px;

}

.linkss a {
    border-bottom: 2px solid #F5F5F5;
    display: flex !important;
    align-items: center;
    width: 100%;
    min-height: 60px;
    padding-right: 30px !important;
}

.linkss:last-child a {
    border-bottom: none;
}

.link:hover {
    border-left: 2px solid #1875F0;
}

nav {
    margin-left: 15px;
}

nav ul {
    text-align: center;
}

.dropdown-toggle {
    background: url(../images/icons/ic_keyboard_arrow_down.png) no-repeat;
}

.sidebar {
    text-align: center;
}

.home, .home2 {
    mask-image: url(../images/icons/ic_home.svg);
}

.sidebar_link {
    margin: 0 auto;
    text-align: center;
}

.dick, .dick2 {
    mask-image: url(../images/icons/ic_cloud_download.svg);
}


.post, .post2 {
    mask-image: url(../images/icons/ic_email.svg);
}


.calendar, .calendar2 {
    mask-image: url(../images/icons/ic_today.svg);
}


.photo, .photo2 {
    mask-image: url(../images/icons/ic_camera_alt.svg);
}


.contact, .contact2 {
    mask-image: url(../images/icons/ic_people.svg);
}


.main_home {
    background: #f8f8f9;
    padding-top: 10px;
}

.control, .control2 {
    mask-image: url(../images/icons/ic_business_center.svg);
}


.location, .location2 {
    mask-image: url(../images/icons/ic_location_city.png);
}


.content {
    background-color: #E5E5E5;
}

ul {
    list-style-type: none;
}

.hello {
    background: #FFFFFF;
    position: relative;
    border: 1px solid black;
    width: 500px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 25px;
    color: #B3B3B3;
    margin: 0 auto;
}

.footer_content {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    color: #B3B3B3;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
}

.policy_photo {
    background: url("../images/icons/logo_foot2.svg") no-repeat;
    padding-bottom: 80px;
    width: 200px;
}

.prave {
    padding-bottom: 30px;
}

.background_line {
    border-bottom: 2px solid #E6E6E6;
    width: 65px;
}

.menu {
    color: #9B9B9B;
}

.title_menu {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 30px;
    color: #666666;
}

.menu_content div {
    padding-bottom: 15px;
}

.title_contact {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #666666;
    padding-bottom: 30px;
}

.slider {
    width: 1050px;
}

.contact_f {
    padding-bottom: 28px;
}

.contact_f a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #808080;
}
.title_hello {
    background: #FFFFFF;
    position: relative;
    z-index: 3;
    box-shadow: 0 0 3px 3px #f1e9e9;
    border-radius: 4px;
    bottom: 80px;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
    max-width: 1110px;
}

.title {
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 30px;
    text-align: center;
    color: #666666;
    padding-bottom: 5px;
}

.hello_description {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #666666;
}

.hello {
    background: #FFFFFF;
    position: relative;
    box-shadow: 0 0 3px 3px #f1e9e9;
    border-radius: 4px;
    margin: 0 auto;
}

.contact_item {
    margin-top: 15px;
    margin-bottom: 30px;
}

.font_text {
    font-style: normal;
    font-weight: 300;
    font-size: 160px;
    line-height: 240px;
    color: #F5F5F5;
    position: relative;
}

.slide1 {
    background: url("../images/slider/01.png") no-repeat;
    width: 1110px;
    height: 400px;
}

.slide2 {
    background: url("../images/slider/02.png") no-repeat;
    width: 1110px;
    height: 400px;
}

.slide3 {
    background: url("../images/slider/03.png") no-repeat;
    width: 1110px;
    height: 400px;
}

.font_icon {
    background: url("../images/icons/flag_icon.png") no-repeat;
    padding-top: 70px;
    padding-left: 15px;
    left: 25px;
    top: 80px;
    width: 80px;
    position: absolute;
}

.offset_calendar {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 25px;
    color: #B3B3B3;
}

.offers_title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    padding-top: 30px;
    color: #4D4D4D;
}

.description {
    padding-bottom: 15px;
}

.wallet_icon {
    background: url("../images/icons/wallet_icon.png") no-repeat;
    padding-top: 70px;
    left: 25px;
    top: 90px;
    width: 80px;
    position: absolute;
}

.left_cards {
    padding-left: 25px;
}

.cup_icon {
    background: url("../images/icons/cup_icon.png") no-repeat;
    padding-top: 70px;
    left: 15px;
    top: 90px;
    width: 80px;
    position: absolute;
}

.f {
    margin: 0 auto;
}

.links {
    background: #f3f0f0;
}

.footer {
    margin-top: 15px;
}

/* Profile*/

.profile {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    color: #666666;
    margin: 0 auto;
}

.profile input {
    /*width: 400px;*/
    width: 100%;
    height: 60px;
    margin-bottom: 0;
}

.profile label {
    margin-bottom: 30px;
    width: 100%;
    max-width: 500px;
}

.profile select {
    /*width: 400px;*/
    height: 60px;
    margin-bottom: 30px;
}

.profile_input {
    /*padding-left: 88px;*/
    padding-top: 20px;
}

.row_date {
    /*padding-top: 19px;*/
}

.profile_photo {
    margin-top: 25px;
    padding-bottom: 145px;
    margin-left: 200px;
    background: url(../images/placeholder.png) no-repeat;
    background-size: 146px 146px;
}

.profile_title {
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 90px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    background: #FFFFFF;
    margin-bottom: 10px;
    padding-left: 14px;
    color: #808080;
}

.profile_form {
    background: #FFFFFF;
    margin-bottom: 62px;
}

.inform_title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 90px;
    text-align: center;
    color: #999999;
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin-top: 15px;*/
    border-bottom: 2px solid #F5F5F5;
}

.form_button {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 36px;
}

.form_button button {
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
}

.save_btn {
    width: 120px;
    height: 50px;
    color: #FFFFFF;
}

.cancel_btn {
    background: #FFFFFF;
    border: 2px solid #F5F5F5;
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 31px;
    width: 120px;
    height: 50px;
    color: #B2B2B2;
}

.cancel_btn:hover {
    background: #bbb5b5;
}

/* Profile*/

/*Footer*/

/*Footer*/

.short-fio {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    flex: 1 1 100%;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 42px;
    text-transform: uppercase;
    transition: none;
}

.short-fio:hover {
    color: transparent;
    opacity: 0;
}

.label_wrapper {
    width: 100%;
    max-width: 132px;
    margin: auto;
}

.img_input_label {
    border: 1px solid #666666;
    box-sizing: border-box;
    border-radius: 100px;
    width: 100%;
    padding-top: 130px;
    position: relative;
    overflow: hidden;
    transition: none;
    background: rgba(76, 75, 75, 0.5);
}

.img_input_label:hover::after {
    top: 0;
    left: 0;
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/icons/ic_camera_alt.png") no-repeat center/30%;
}

.cropper-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.profile img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.profile img[alt] {
    font-size: 12px;
    text-align: center;
}

/*.profile .required_field:before{*/
/*    content: '*';*/
/*    color: red;*/
/*}*/

.form-control {
    border: 2px solid #FF0000;
}

.error-message {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #FF0000;
    margin-bottom: 15px;

}

