// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


//header
$headerHeight: 92px;

//nav

$navWidth: 160px;

//users management
$userManagementBgColor: rgba(250,250,250);
$userManagementRowBgColor: rgb(253, 253, 254);
$userManagementFilterActiveBg: #FCFCFC;
$userManagementRowBoxShadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
$userManagementRowBorderRadius: 6px;
$userManagementUserColor: #999999;
$userManagementUserFz: 12px;
$userManagementFF: 'Roboto', sans-serif;

$designColorOne: #1875F0;
$lightColor: #999999;
$darkColor: #666666;

$breakpoint: 768px;

//users management
$depManagementFF: 'Roboto', sans-serif;
$depBoxShadow: 0px 2px 5px rgb(0 0 0 / 5%);
$depBoxBorder: 2px solid #F5F5F5;

$borderRad: 6px;
